.person__info {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
  .person__info {
    justify-content: center;
  }
}


@media (max-width: 320px) {
    .person__info {
      gap: 10px;
    }
}


