.person__button-add {
    display: block;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    
    padding: 0;
    margin: 0;
    background-image: url(../../../images/add-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    
    max-width: 150px;
    width: 100%;
    height: 50px;

}

@media (max-width: 768px) {
    .person__button-add {
       min-width: 282px;
       width: 100%;
       margin-top: 36px;
       background-size: 16px 16px;
       
    }
}