.places__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 282px));
    align-items: center;
    justify-content: center;
    gap: 20px 17px;

    margin: 0 auto;
    padding: 0;

    max-width: 880px;
    
}

@media (max-width: 1024px) {
    .places__container {
        grid-template-columns: repeat(2, minmax(280px, 282px));
    }
}


@media (max-width: 600px) {
    .places__container {
        grid-template-columns: repeat(1, minmax(280px, 282px));
        max-width: 282px;
        width: 100%;
    }
}